$body-color: #333333;
$background-color: #f5f5f5;
body {
  color: $body-color;
  background: $background-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  .container {
    padding: 15px;
    margin: 20px auto;
    max-width: 500px;

    h1 {
      text-align: center;
    }

    li {
      background: #fff;
      box-shadow: 0 0 2px #ccc;
      border: 1px solid #ddd;
      display: flex;
      align-items:center;
      margin-bottom: 10px;

      img {
        width: 100px;
        height: auto;
        height: 100px;
        background: #f5f5f5;
        padding: 10px;
        border-radius: 50%;
        margin: 10px 20px;
      }
    }
  }
}
